# build output
dist/
.next/


.idea/
node_modules/
.vscode/
coverage/
*.iml
webpack-assets.json
webpack-stats.json
npm-debug.log
.happypack
tsrc/
.env
webpack/dlls/manifests/vendor.json
/.next
/.vscode/settings.json
